.principal { padding: 80px 150px 0 170px; }
@media (min-width:1301px) and (max-width:1400px) { .principal { padding-left:135px; } }
@media (max-width:1300px) { .principal { padding-left:0; padding-right:0; } }
@media (max-width:1024px) { .principal { padding-top:10px; } }
@media (max-width:767px)  { .principal { padding-top:80px; padding-bottom:0; } }

/* Em Breve */
#embreve {
    font-family: 'Comfortaa','Roboto', sans-serif; 
    background: #6657b6;
	color: #f2f0ff;    
	width: 100%; height: 100%;	
    padding-top: 20%;
	align-items: center;
	justify-content: center;
    vertical-align: middle;
}
#embreve h1 { font-size: 5rem; font-weight: 700; line-height: 1.2; }
#embreve a { text-decoration: none; color: #a7d9da; padding: 0 8px 0 8px;}
#embreve a:hover, #embreve a:focus{ text-decoration:none; color: #42b4b4; outline:none; transition: 0.3s; }